{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = tag.name %}

{#
    {{#tag}}
    <div class="under-header-content">
        <h1 class="site-title tags-title">#{{name}}</h1>
        <h2 class="site-description">
            {{#if description}}
            {{description}}
            {{else}}
            {{plural ../pagination.total empty=(t "A collection of posts") singular=(t "A collection of 1 post") plural=(t "A collection of % posts")}}
            {{/if}}
        </h2>
        <div class="tags-row">

            {{#get 'tags' limit='15' include='count.posts' order='count.posts desc'}}
            {{#foreach tags}}
            <a class='tag' href='{{ url }}'>
                <h3>#{{ name }} <small> | {{ count.posts }}</small></h3>
            </a>
            {{/foreach}}
            {{/get}}
        </div>
    </div>

    </header>
    {{/tag}}

    {{!-- The main content area --}}
    <main id="site-main" class="site-main outer">
        <div class="inner">
            <div class="post-feed">
                {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
                {{/foreach}}
            </div>
            <div class="read-more-row">
                <button id="readMoreBtn">{{t "Load More Articles"}}</button>
            </div>
        </div>
    </main>
#}

{% block content %}
    <div class="under-header-content">
        <h1 class="site-title tags-title">#{{ tag.name }}</h1>
        <h2 class="site-description">A collection of {{ content | safe }} {{ "post" if (content == 1) else "posts" }}
        </h2>
        
        {# <div class="tags-row">
            can we fetch other tags?
        </div> #}
    </div>
    <section class="post-feed">
        {% if tag.posts %}
            {% for post in tag.posts %}
                {{ card(post) }}
            {% endfor %}
        {% else %}
            <p>No posts to be found</p>
        {% endif %}
    </section>
{% endblock %}

{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ site.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ title }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ tag.description }}">
    <meta name="twitter:image" content="{{ tag.feature_image }}">

    <!--Schema-->
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title }} – {{ site.title }}">
    <meta itemprop="description" content="{{ content }}">
    <meta itemprop="image" content="{{ tag.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – {{ site.title }}">
    <meta property="og:image" content="{{ tag.feature_image }}">
    <meta property="og:description" content="{{ content }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}
