---
pagination:
  data: collections.posts
  size: 7
  alias: posts
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Posts" %}

{% block content %}
    <main id="site-main" class="site-main outer">
        <div class="inner">
            <section class="post-feed">
                {% for post in posts %}
                    {{ card(post) }}
                {% endfor %}
            </section>
        </div>
    </main>

    {% include "partials/pagination.njk" %}
{% endblock%}
