<div class='learn-cta-row'>
    <p>
        {% t 'translations:learn-to-code-cta', site.lang %}
        <a class="cta-button" id="learn-to-code-cta" rel="noopener noreferrer" target="_blank">
          Get started
        </a>
    </p>
</div>
